<h1>ユーザー一覧</h1> 
<%= link_to '掲示板', posts_path %>
<%= button_to'ログアウト', logout_path, method: :delete %>
<table>
    <thead>
        <tr>
            <th><%= User.human_attribute_name(:name) %></th>
            <th><%= User.human_attribute_name(:cname) %></th>
            <th><%= User.human_attribute_name(:grade) %></th>
            <th><%= User.human_attribute_name(:pta_officer) %></th>
            <th><%= User.human_attribute_name(:pta_officer_history) %></th>
            <th><%= User.human_attribute_name(:memo) %></th>
        </tr>
    </thead>

    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%= link_to user.name, user%></td>
                <td><%= user.cname %></td>
                <td><%= user.grade.to_s + "学年" %></td>
                <td><%= user.pta_officer %></td>
                <td><%= user.pta_officer_history %></td>
                <td><%= user.memo %></td>
                
            </tr>
        <% end %>
    </tbody>
</table>
